In [41]:
from pyfm import pylibfm
from sklearn.feature_extraction import DictVectorizer
import numpy as np
import sys

In [42]:
f_train = open ("train.txt")

In [43]:
keys =

In [44]:
users = []
for i, line in enumerate (f_train.readlines ()):
    users.append (dict (zip (keys, line.strip ().split (','))))
    sys.stdout.write ('\r{}'.format (i))

45072238

KeyboardInterrupt:

In [50]:
users = []

In [59]:
import pandas as pd
from datetime import datetime

In [49]:
train  = pd.read_csv ('train.txt',names=['uid', 'mid', 'rate', 'date'])

In [70]:
train

      uid      mid  rate        date
0       1   822109     5  2005-05-13
1       1   885013     4  2005-10-19
2       1    30878     4  2005-12-26
3       1   893988     3  2005-11-17
4       1   124105     4  2004-08-05
5       1  1248029     3  2004-04-22
6       1  1842128     4  2004-05-09
7       1  2238063     3  2005-05-11
8       1  1503895     4  2005-05-19
9       1  2207774     5  2005-06-06
10      1  2590061     3  2004-08-12
11      1     2442     3  2004-04-14
12      1   804919     4  2004-06-10
13      1  1086807     3  2004-12-28
14      1  1711859     4  2005-05-08
15      1   372233     5  2005-11-23
16      1  1080361     3  2005-03-28
17      1  1245640     3  2005-12-19
18      1   558634     4  2004-12-14
19      1  1181550     3  2004-02-01
20      1  1227322     4  2004-02-06
21      1   427928     4  2004-02-26
22      1   814701     5  2005-09-29
23      1   662870     5  2005-08-24
24      1   337541     5  2005-03-23
25      1  1133214     4  2004-03-07
26      1  1537427     4  2004-03-29
27      1  1209954     5  2005-05-09
28      1  2381599     3  2005-09-12
29      1   525356     2  2004-07-11
...   ...      ...   ...         ...
9970    8   873591     5  2005-05-24
9971    8  1048388     3  2005-05-24
9972    8   187061     1  2005-05-26
9973    8   545699     2  2005-06-02
9974    8   348033     3  2005-06-08
9975    8  1753636     5  2005-06-04
9976    8  1745797     5  2005-06-06
9977    8   610308     5  2005-06-06
9978    8   111866     1  2005-06-06
9979    8  1963704     5  2005-06-07
9980    8   565401     1  2005-06-08
9981    8  2060106     5  2005-06-10
9982    8  1035436     2  2005-06-13
9983    8    66580     5  2005-06-18
9984    8  1153985     5  2005-06-21
9985    8   736567     5  2005-06-22
9986    8  2445106     5  2005-06-30
9987    8  2647665     3  2005-09-14
9988    8   453321     3  2005-09-15
9989    8  1688743     3  2005-09-18
9990    8  1517800     1  2005-09-26
9991    8   888873     3  2005-09-28
9992    8  2456737     3  2005-10-08
9993    8  2373703     1  2005-11-22
9994    8  1844795     5  2005-10-18
9995    8   675737     5  2005-10-27
9996    8  1301231     3  2005-12-04
9997    8  1944986     1  2005-07-06
9998    8   418609     4  2005-07-18
9999    8  1839476     2  2005-07-20

[10000 rows x 4 columns]

In [69]:
train = train[:10000]

In [62]:
min_date = datetime.strptime('1999-11-10', '%Y-%m-%d')

In [72]:
train.loc['date_day'] = train.apply(lambda x: (datetime.strptime(x['date'], '%Y-%m-%d') - min_date).days , axis=1)

/home/mikhail.belozerov/.local/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [73]:
train

          uid        mid  rate        date  date_day
0         1.0   822109.0   5.0  2005-05-13    2011.0
1         1.0   885013.0   4.0  2005-10-19    2170.0
2         1.0    30878.0   4.0  2005-12-26    2238.0
3         1.0   893988.0   3.0  2005-11-17    2199.0
4         1.0   124105.0   4.0  2004-08-05    1730.0
5         1.0  1248029.0   3.0  2004-04-22    1625.0
6         1.0  1842128.0   4.0  2004-05-09    1642.0
7         1.0  2238063.0   3.0  2005-05-11    2009.0
8         1.0  1503895.0   4.0  2005-05-19    2017.0
9         1.0  2207774.0   5.0  2005-06-06    2035.0
10        1.0  2590061.0   3.0  2004-08-12    1737.0
11        1.0     2442.0   3.0  2004-04-14    1617.0
12        1.0   804919.0   4.0  2004-06-10    1674.0
13        1.0  1086807.0   3.0  2004-12-28    1875.0
14        1.0  1711859.0   4.0  2005-05-08    2006.0
15        1.0   372233.0   5.0  2005-11-23    2205.0
16        1.0  1080361.0   3.0  2005-03-28    1965.0
17        1.0  1245640.0   3.0  2005-12-19    2231.0
18        1.0   558634.0   4.0  2004-12-14    1861.0
19        1.0  1181550.0   3.0  2004-02-01    1544.0
20        1.0  1227322.0   4.0  2004-02-06    1549.0
21        1.0   427928.0   4.0  2004-02-26    1569.0
22        1.0   814701.0   5.0  2005-09-29    2150.0
23        1.0   662870.0   5.0  2005-08-24    2114.0
24        1.0   337541.0   5.0  2005-03-23    1960.0
25        1.0  1133214.0   4.0  2004-03-07    1579.0
26        1.0  1537427.0   4.0  2004-03-29    1601.0
27        1.0  1209954.0   5.0  2005-05-09    2007.0
28        1.0  2381599.0   3.0  2005-09-12    2133.0
29        1.0   525356.0   2.0  2004-07-11    1705.0
...       ...        ...   ...         ...       ...
9971      8.0  1048388.0   3.0  2005-05-24    2022.0
9972      8.0   187061.0   1.0  2005-05-26    2024.0
9973      8.0   545699.0   2.0  2005-06-02    2031.0
9974      8.0   348033.0   3.0  2005-06-08    2037.0
9975      8.0  1753636.0   5.0  2005-06-04    2033.0
9976      8.0  1745797.0   5.0  2005-06-06    2035.0
9977      8.0   610308.0   5.0  2005-06-06    2035.0
9978      8.0   111866.0   1.0  2005-06-06    2035.0
9979      8.0  1963704.0   5.0  2005-06-07    2036.0
9980      8.0   565401.0   1.0  2005-06-08    2037.0
9981      8.0  2060106.0   5.0  2005-06-10    2039.0
9982      8.0  1035436.0   2.0  2005-06-13    2042.0
9983      8.0    66580.0   5.0  2005-06-18    2047.0
9984      8.0  1153985.0   5.0  2005-06-21    2050.0
9985      8.0   736567.0   5.0  2005-06-22    2051.0
9986      8.0  2445106.0   5.0  2005-06-30    2059.0
9987      8.0  2647665.0   3.0  2005-09-14    2135.0
9988      8.0   453321.0   3.0  2005-09-15    2136.0
9989      8.0  1688743.0   3.0  2005-09-18    2139.0
9990      8.0  1517800.0   1.0  2005-09-26    2147.0
9991      8.0   888873.0   3.0  2005-09-28    2149.0
9992      8.0  2456737.0   3.0  2005-10-08    2159.0
9993      8.0  2373703.0   1.0  2005-11-22    2204.0
9994      8.0  1844795.0   5.0  2005-10-18    2169.0
9995      8.0   675737.0   5.0  2005-10-27    2178.0
9996      8.0  1301231.0   3.0  2005-12-04    2216.0
9997      8.0  1944986.0   1.0  2005-07-06    2065.0
9998      8.0   418609.0   4.0  2005-07-18    2077.0
9999      8.0  1839476.0   2.0  2005-07-20    2079.0
date_day  NaN        NaN   NaN         NaN       NaN

[10001 rows x 5 columns]

In [74]:
train = train.sort_values (by=['uid', 'date_day'])

In [75]:
train

          uid        mid  rate        date  date_day
110       1.0  1596531.0   5.0  2004-01-23    1535.0
354       1.0  1366860.0   4.0  2004-01-26    1538.0
19        1.0  1181550.0   3.0  2004-02-01    1544.0
20        1.0  1227322.0   4.0  2004-02-06    1549.0
75        1.0  2439493.0   1.0  2004-02-06    1549.0
205       1.0  2413320.0   4.0  2004-02-06    1549.0
255       1.0   305344.0   1.0  2004-02-08    1551.0
350       1.0   387418.0   1.0  2004-02-08    1551.0
135       1.0   936396.0   2.0  2004-02-09    1552.0
335       1.0  1190829.0   4.0  2004-02-10    1553.0
408       1.0  1254683.0   1.0  2004-02-13    1556.0
81        1.0   624035.0   5.0  2004-02-19    1562.0
308       1.0  1107588.0   1.0  2004-02-22    1565.0
362       1.0   145873.0   3.0  2004-02-25    1568.0
21        1.0   427928.0   4.0  2004-02-26    1569.0
31        1.0  2421815.0   2.0  2004-02-26    1569.0
307       1.0  1569513.0   3.0  2004-02-26    1569.0
305       1.0  1494196.0   5.0  2004-02-29    1572.0
55        1.0  1567202.0   2.0  2004-03-01    1573.0
208       1.0  2291306.0   1.0  2004-03-01    1573.0
25        1.0  1133214.0   4.0  2004-03-07    1579.0
207       1.0   722591.0   5.0  2004-03-08    1580.0
168       1.0  1077982.0   4.0  2004-03-16    1588.0
386       1.0  1686060.0   5.0  2004-03-21    1593.0
143       1.0  2315073.0   4.0  2004-03-24    1596.0
26        1.0  1537427.0   4.0  2004-03-29    1601.0
266       1.0  1823641.0   5.0  2004-03-29    1601.0
267       1.0  1839976.0   2.0  2004-03-31    1603.0
131       1.0  1819474.0   3.0  2004-04-03    1606.0
178       1.0  1148389.0   4.0  2004-04-03    1606.0
...       ...        ...   ...         ...       ...
6855      8.0  2337730.0   3.0  2005-12-22    2234.0
9623      8.0  1390585.0   3.0  2005-12-22    2234.0
8296      8.0  1704248.0   1.0  2005-12-23    2235.0
9344      8.0   858942.0   4.0  2005-12-23    2235.0
9417      8.0  2330302.0   3.0  2005-12-23    2235.0
9079      8.0  1819096.0   4.0  2005-12-24    2236.0
9624      8.0   160801.0   1.0  2005-12-24    2236.0
9685      8.0   558225.0   1.0  2005-12-24    2236.0
6779      8.0   349234.0   1.0  2005-12-25    2237.0
9487      8.0  2354125.0   2.0  2005-12-25    2237.0
5202      8.0  2629028.0   5.0  2005-12-26    2238.0
6519      8.0  1606587.0   3.0  2005-12-26    2238.0
9742      8.0  2616561.0   4.0  2005-12-26    2238.0
9806      8.0  1236134.0   1.0  2005-12-26    2238.0
5203      8.0  1724717.0   2.0  2005-12-27    2239.0
6780      8.0  2452817.0   5.0  2005-12-27    2239.0
8473      8.0  2563844.0   3.0  2005-12-27    2239.0
8474      8.0   730138.0   3.0  2005-12-27    2239.0
9345      8.0  1608442.0   4.0  2005-12-27    2239.0
6123      8.0   905074.0   2.0  2005-12-28    2240.0
6520      8.0   207131.0   3.0  2005-12-28    2240.0
9010      8.0  1423177.0   4.0  2005-12-28    2240.0
9418      8.0   531541.0   1.0  2005-12-28    2240.0
8167      8.0  1368684.0   3.0  2005-12-29    2241.0
9346      8.0   708873.0   2.0  2005-12-29    2241.0
5931      8.0  2221136.0   2.0  2005-12-30    2242.0
6321      8.0  1743430.0   5.0  2005-12-30    2242.0
6996      8.0   943873.0   3.0  2005-12-30    2242.0
7852      8.0   152946.0   5.0  2005-12-30    2242.0
date_day  NaN        NaN   NaN         NaN       NaN

[10001 rows x 5 columns]